<%= form_for(@managers_cash) do |f| %>
  <% if @managers_cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@managers_cash.errors.count, "error") %> prohibited this managers_cash from being saved:</h2>

      <ul>
      <% @managers_cash.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
