<h1>Listing managers_cashes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @managers_cashes.each do |managers_cash| %>
  <tr>
    <td><%= managers_cash.user_id %></td>
    <td><%= managers_cash.balance %></td>
    <td><%= link_to 'Show', managers_cash %></td>
    <td><%= link_to 'Edit', edit_managers_cash_path(managers_cash) %></td>
    <td><%= link_to 'Destroy', managers_cash, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Managers cash', new_managers_cash_path %>
